/* for Dektop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*{
   box-sizing: border-box;
}

/* nav design starts here */
.navbar{
   /*   */
}
.logo{
   text-align: left;
}
.nav-title{
   text-align: right;
}
.nav-menu{
   flex-direction: row;
   justify-content: flex-end;
   margin: -10px;
}
.nav-menu a{
   background: transparent;
   padding: 20px 10px;
   margin: 10px 5px;
}
.nav-menu a:hover{
   background: #023c38;
}
.navbar::after{
   content: '';
   display: table;
   clear: both;
}
/* nav design ends here */

/* profile design starts here */
.profile{
   padding: 5% 7%;
}

.profile .top-weather-icon{
   position: absolute;
   right: 95px;
   top: 10px;

   animation-name: top-weather-anim;
   animation-duration: 3s;
   animation-delay: 1s;
   animation-iteration-count: infinite;

}
@keyframes top-weather-anim{
   to{
      transform: rotate(360deg);
   }
}

.profile-desc p{
   color: gray;
   text-align: center;
   width: 50%;
   margin-bottom: 10px;
}

.profile .bottom-weather-icon{
   position: absolute;
   left: 60px;
   bottom: 5px;
   width: 200px;

   animation-name: bottom-weather-anim;
   animation-duration: 3s;
   animation-delay: 1s;
   animation-iteration-count: infinite;

}
@keyframes bottom-weather-anim{
   to{
      transform: rotate(-360deg); 
   }
}
.profile::after{
   content: '';
   display: table;
   clear: both;
}
/* profile design starts here */

/* about design starts here */
.about{
   padding: 1% 7%;
}
.about h2{
   font-size: 2rem;
}
.aboutme-image{
   margin-top: 100px;
}
.aboutme-image img{
   height: 270px;
   width: 250px;
}
.aboutme-desc p{
   text-align: left;
}

/* about design starts here */


/* service design starts here */

.service{
   padding: 4% 7%;
}



/* service design ends here */



/* Experiance design starts here  */

.experiance{
   padding: 1% 7%;
}


/* Experiance design ends here  */


/* contact page design starts here */

.contact{ 
   padding: 1% 7%;
}
.contact-mail button{
   width: 130px;
}

/* contact page design ends here */